body {
/* font-family: "Open Sans", sans-serif; */
background: linear-gradient(45deg, rgb(0, 0, 0), transparent); }

h1, h2, h3 {
    font-family: 'Krona One', sans-serif; }

h2 {
color: #8CC63F; }

header h2 {
color: #00AEEF; }

.site-footer {
    background: linear-gradient(45deg, rgb(0, 0, 0), transparent);
padding: 20px 0; }

.jumbotron {
margin: 0;
padding: 30px;
background: linear-gradient(45deg, rgb(0, 0, 0), transparent);
color: white; }

.jumbotron-fluid {
    background: linear-gradient(45deg, rgb(0, 0, 0), transparent);
}

.row-content {
padding: 50px 0;
border-bottom: 1px ridge;
min-height: 200px; }

.navbar {
background-color: transparent; }

.tab-content {
border: 1px solid #DDD;
border-top: none;
padding: 10px; }

.carousel {
border: solid #8CC63F; }

.carousel-caption {
background-color: rgba(0, 0, 0, 0.5); }

#carouselButton {
position: absolute;
right: 0;
bottom: 0;
z-index: 100; }
